*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg, rgb(241, 190, 190), rgb(250, 99, 124));
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    background-color: rgb(232, 95, 95);
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    color: white;
}
.botao:hover{
    border: 0.5px;
    background-color: black;
    border-style: dashed;
    border-color: rgb(249, 153, 168);
}
#resultado{
    width: 212px;
    height: 30px;
    margin: 5px;
    background-color: white;
    font-size: 25px;
    color: rgb(102, 5, 39);
    text-align: right;
    padding: 5px;
}